:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografía
    4. Visuales
    5. Otros

*/

/********* Header *********/
header{
    width: 100%;
    height: 320px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header .container{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

header figure{
    justify-self: center;
    margin-top: 70px;
    width: 125px;
    height: 25px;
    overflow: hidden;
}
header figure img{
    justify-self: center;
    width: 100%;
    object-fit: cover;
}

.header-title-container{
    justify-self: center;
    margin-top: 35px;
    width: 80%;    
    text-align: center;
}
.header-title-container h1{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header-title-container p{
    margin-top: 35px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.header-title-container a{
    justify-self: center;
    align-self: center;
    margin-top: 35px;
    position: absolute; 

    left: calc(50% - 118px);
    bottom: calc(-8%);

    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;

    display: block;    
    width: 229px;
    height: 48px;
    padding: 14px;

    color: var(--black);
    background: var(--just-white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
/******* Fin Header *******/

/********** Main **********/
main{    
    width: 100%;
    height: auto;
    background-color: var(--just-white);
}
main .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding-top: 80px;
    background: var(--off-white);
}
/*Primera seccion*/
.main--exchange-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.main--exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;

    background-image: url("../src/assets/img/Bitcoin.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    height: auto;
    margin: 20px 20px;

}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color:#757575;
}
.main-table-container{
    width: 90%;
}
.main-table-container h4{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #FF9536;
    
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: center;
    color: var(--bitcoin-orange);
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    padding-left: 16px;
}

.currency-table--container .table__top-lef{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__right{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;

    color: var(--warm-black);
}
/*Segunda seccion*/
.main--info-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 100%;
    padding-top: 60px;
    padding-bottom: 65px;
    height: auto;

    background-color: var(--black);
}
.main--info-container span{
    position: absolute;
    top: -20px;
    left: calc(50% - 25px);
    width: 50px;
    height: 40px;
    background-image: url("assets/icons/batata.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main--info-container .main-info-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-info-title-container h2{
    width: 288px;
    max-width: 900px;
    min-width: 320px;
    margin-top: 64px;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: white;
}
.main-info-title-container p{
    width: 288px;
    max-width: 900px;
    min-width: 320px;
    margin-top: 24px;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
}
/*Cards sección 2*/
.main-info-cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info-cards-container .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 288px;
    height: 152px;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: var(--warm-black);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Agregando los iconos especificos para cada card*/
.main-icon__time{
    background-image: url("assets/icons/clock.svg");
}

.main-icon__eye{
    background-image: url("assets/icons/eye.svg");
}

.main-icon__dollar-sign{
    background-image: url("assets/icons/dollar-sign.svg");
}

.main-icon__check-circle{
    background-image: url("assets/icons/check-circle.svg");
}

.main-info-cards-container .card .main-card-icon{
    width: 24px;
    height: 24px;
    margin: 10px 0;
    margin-left: 16px;
}
.main-info-cards-container .card h2{
    width: 100%;
    height: 18px;
    padding-left: 16px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #FFFFFF;
}
.main-info-cards-container .card p{
    width: 252px;
    height: 54px;
    padding-left: 16px;
    
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: justify;
    color: #808080;
}

/*Seccion 3 del main**/
.main-footer-container{
    width: 100%;
    /* max-width: 516px; */
    /* min-width: 320px; */
    margin: 0 auto;
    height: 400px;
    position: relative;

}
.main-footer-container h2{
    position: absolute;
    z-index: 2;
    width: 280px;
    /* max-width: 900px; */
    height: 26px;
    margin-top: 64px;
    left: calc(50% - 140px);

    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #FFFFFF;
}
.main-footer-container .main-footer-image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/img/bitcoinbaby.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**Seccion 4 del main**/

/******* Fin Main ********/

/********* Footer *********/

/****** Fin Footer *******/